* {
    box-sizing: border-box;
}

.title {
    font-size: 60px;
    padding: 20px 0px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eaeaea;
}

.container {
    width: 900px;
    margin: 0px auto;
}

/* Float three columns side by side */
.columncard {
    float: left;
    width: 33.33%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.rowcard {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

/* Clear floats after the columns */
.rowcard:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 700px) {

    .container {
        width: 100%;
    }

    .columncard {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.card .profile{
    border-radius: 10px;
    transition: 1s;
}

.card:hover .profile {
    transform: scale(1.2);
}

.card .content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.card .content .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1e6;
    transition: 1s;

    z-index: 1;
    padding: 10px;
}

.from-left {
    top: 0%;
    left: 100%;
}

.card:hover .content .from-left {
    left: 0%;
}


.card .content .back h3 {
    font-size: 15px;
    letter-spacing: 2px;
}
.card-body .card-text , .card-body .card-title
{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


